/* Banner.css */

.slide-in {
  animation: slideIn 1s ease-in-out;
  position: relative; /* Make sure the container is positioned */
}

.background {
  position: relative; /* Ensure proper layering */
  background-image: url('../../../images/cover.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background::before {
  content: ""; /* Required for the pseudo-element */
  position: absolute; /* Position it absolutely */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Background color with opacity */
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
